.wrap .status,
.wrap .site-type {
	position: absolute;
	z-index: 1;
	color: #fff;
	padding: 0.5em 1em;
	top: -0.5em;
	text-transform: uppercase;
}
.wrap#astra-sites-admin {
	margin: 0;
}
#astra-sites-admin.wrap .status,
#astra-sites-admin.wrap .site-type.premium {
	background: #6645E4;
}
#astra-sites-admin .title-count, .filter-count .count {
	border-radius: 0;
}
#astra-sites-admin .filter-links .current {
	border-bottom: 2px solid #000;
    color: #000;	
}
#wp-filter-search-input {
    background: transparent;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0px;
    font-weight: normal;
}
#astra-sites-admin .filter-links li > a {
	border-bottom: 3px solid transparent;
	font-size: 12px;
	padding: 3px 0;
	text-transform: uppercase;
	letter-spacing: 0.3px;
	font-weight: 500;
}
#astra-sites-admin .filter-links li > a:focus {
	box-shadow: none;
}
#astra-sites-admin .theme-actions {
	box-shadow: none;
	left: 0;
	border-left: none;
	background: #fafafa;
	padding: 0;
	margin-right: 20%;
}
#astra-sites-admin .theme-browser .theme .theme-name {
	height: auto;
	width: 90%;
	align-self: center;
    box-shadow: none;
    background: none;
}
#astra-sites-admin .theme-id-container {
	background: rgba(255,255,255,0.65);
	border: none;
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
	display: flex;
}
#astra-sites-admin .sites-page-count {
	color: #888;
	font-size: 12px;
	display: block;
	margin-top: 5px;
}
#astra-sites-admin .theme-action-wrap {
	width: 100%;
	padding: 8px 15px;
}
.filters-wrap-page-categories {
	margin-right: 10px;
}
#astra-sites-admin .favorite-filters-wrap .filter-links li {
	border-left: 1px solid #ddd;
	padding: 0 10px;
}
.favorite-filters-wrap .dashicons {
	color: #c34444;
	font-size: 18px;
	line-height: 18px;
	width: 17px;
	height: 17px;
}
.favorite-filters-title {
	width: 10%;
	padding: 15px 5px;
	align-self: center;
	justify-content: center;
	text-align: center;
	margin-left: 5px;
}
.favorite-filters-title a {
	color: #666;
	cursor: pointer;
}

.favorite-action-wrap {
	width: 10%;
	border-left: 1px solid #ddd;
	padding: 2px 10px;
	align-self: center;
	justify-content: center;
	text-align: center;
}
.favorite-action-wrap span {
	display: inline-block;
}
.favorite-action-wrap span i {
	float: right;
	color: #ccc;
	display: inline-block;
	height: 18px;
	width: 18px;
	font-size: 18px;
}
.filter-links li > a:hover,
.filter-links li > a:focus,
.show-filters .filter-links a.current:hover,
.show-filters .filter-links a.current:focus {
	color: #666;
}
.wrap .status {
	left: -0.5em;
}
.wrap .site-type.premium {
	right: -0.5em;
}

.wrap .status.publish,
.wrap .site-type.free {
	display: none;
}

.install-theme-info .site-type {
	display: none;
}

.theme {
	position: relative;
}
.wrap .astra-sites-preview .site-type.premium {
	display: block;
	display: none;
	position: relative;
	margin: 0.5em 0em 1em 0em;
	top: 0;
	left: 0;
	text-align: center;
}

.theme-details-read-more.open {
	margin: 0.5em 0 0 0;
}

.astra-sites-preview .theme-screenshot {
	width: 100%;
}

.install-theme-info .site-type.premium {
	display: none;
}

/**
 * Required Plugins
 */
.required-plugins.loading {
	text-align: center;
}
.required-plugins button {
	float: right;
}
.required-plugins .plugin-card {
	float: none;
	width: 100%;
	border: none;
	margin: 0 0 0.8em 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: background ease 0.8s;
}
.required-plugins .plugin-card.plugin-card-update-failed {
	flex-wrap: wrap;
}
.required-plugins .spinner {
	float: none;
	margin: 0;
}

.expanded .wp-full-overlay-footer {
	height: 111px;
}

.wp-full-overlay-footer .view-site,
.wp-full-overlay-footer .go-pro,
.wp-full-overlay-footer .astra-demo-import {
	width: 100%;
	text-align: center;
}

.wp-core-ui .wp-full-overlay-footer .button.button-hero,
.wp-core-ui .wp-full-overlay-footer .button-group.button-hero .button {
	padding: 0 10px 1px;
}

.wp-full-overlay-footer .installing:before {
	vertical-align: text-bottom;
}

.astra-sites-advanced-options-wrap h4 {
	margin: 1em 0 0.5em 0;
	padding: 0.5em 0;
	transition: all ease 0.3s;
}

/**
 * Read more link
 */
.wp-core-ui .theme-details-read-more:focus,
.wp-core-ui .theme-details-read-more:hover {
	outline: none;
	box-shadow: none;
}
.wp-core-ui .theme-details-read-more {
	margin: 10px 0;
	display: none;
	text-decoration: none;
}

/**
 * Go pro.
 */
.wp-core-ui .go-pro.button[disabled] {
	background-color: #fcb92c !important;
	color: white !important;
	box-shadow: 1px 0 #eab23a !important;
	text-shadow: 1px 0 #6b4e13 !important;
	border-color: #e2a932 !important;
	cursor: pointer;
}
.wp-core-ui .view-site .dashicons,
.wp-core-ui .go-pro .dashicons {
	font-size: 1rem;
	vertical-align: middle;
}

/**
 * Errors
 */
.plugin-card-update-failed .notice {
	margin-top: 1.5em;
}

.no-themes {
	margin-top: 40px;
}

.no-themes p {
	font-size: 15px;
}

.no-themes .left-margin {
	margin-left: 30px;
}

/**
 *
 */
.astra-sites-preview .wp-full-overlay-sidebar-content {
	bottom: 100px;
}

.footer-import-button-wrap {
	padding: 10px 20px;
}

.footer-import-button-wrap .button {
	margin: 0;
}

.astra-sites-preview.expanded .wp-full-overlay-footer {
	left: initial;
}

/**
 * Menu Page
 */
.astra-sites-title {
	float: left;
    font-size: 22px;
    font-weight: 400;
    margin: 0 0 6px 0px;
    padding: 0;
    line-height: 29px;
    padding-left: 15px;
    border-left: 1px solid #ddd;
    color: #444;
}

#astra-sites-admin .theme-browser {
	margin-right: 0;
}

.astra-sites-logo-wrap {
	width: 38px;
    height: 38px;
    margin-right: 15px;
}

.astra-sites-logo-wrap a,
.astra-sites-logo-wrap img {
	width: inherit;
	height: inherit;
	display: inline-block;
}

/**
 * API Error
 */
.astra-api-error {
	margin: 0 0 0.5em 0;
}

/**
 * Grid
 */
.wp-filter .search-form {
	margin-left: 1em;
}
.wp-filter .search-form input[type="search"] {
	width: 200px;
	font-size: 13px;
	padding: 5px 10px;
}
.section-left {
	display: flex;
	align-items: center;
}
.section-right {
	float: right;
}
.filter-count {
	min-width: 3em;
	margin-right: 14px;
}
.astra-site-preview-on {
	overflow: hidden;
}

.appearance_page_astra-sites .notice {
	margin-left: 0;
	width: auto;
	float: none;
	margin-right: 220px;
}

.filters-wrap {
	display: inline-block;
}
.spinner-wrap {
	text-align: center;
}
.spinner-wrap .spinner {
	float: none;
}
.hide-me {
	display: none !important;
}
#astra-sites-admin {
	height: 100vh;
}
#astra-sites-admin[data-slug="astra-sites"] .section-right .filters-wrap {
	display: none;
}
.install-theme-info > .notice {
	margin: 5px 0 10px 0;
}

.astra-sites-suggestions:before {
	border: 5px dashed #ccc;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0px;
}

.astra-sites-suggestions {
	min-height: 390px;
	border: none !important;
}

.astra-sites-suggestions a {
	border: none;
	outline: none;
}

.astra-sites-suggestions .inner {
	border: 6px solid #24282e !important;
	padding: 50% 10% 50% 10%;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	background: #33383d;
	bottom: 0;
	color: #eee;
	cursor: auto;
}

.astra-sites-suggestions .inner a {
	color: #00b9eb;
}

.astra-sites-suggestions p {
	font-size: 1rem;
	margin: 0;
}

.astra-notice {
	margin: 2em 2em 0em 0em;
}

.no-themes .description {
	display: block;
}

/**
 * Responsive Button UI
 */
.astra-sites-preview .wp-full-overlay-footer .devices button.active:before,
.astra-sites-preview .wp-full-overlay-footer .devices button:hover:before {
	color: #0073aa;
}
.astra-sites-preview .wp-full-overlay-footer .devices button:before {
	color: #c1c1c1;
}
.astra-sites-preview .wp-full-overlay-footer .devices button:hover {
	background-color: transparent;
}
.astra-sites-preview .wp-full-overlay-footer .devices button {
	border: none;
}
.astra-sites-preview .wp-full-overlay-footer .devices button:focus,
.astra-sites-preview .wp-full-overlay-footer .devices button.active:hover {
	border-bottom-color: transparent;
	background-color: transparent;
}
.not-click-able {
	pointer-events: none !important;
}
body.page-builder-selected .select-page-builder,
body.loading-content .select-page-builder {
	display: none;
}
.select-page-builder .up-arrow {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	display: inline-block;
	font-size: 1.5em;
	color: #797979;
	vertical-align: middle;
	margin-right: 10px;
	-webkit-transition: all linear 0.6s;
	-moz-transition: all linear 0.6s;
	-ms-transition: all linear 0.6s;
	transition: all linear 0.6s;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-name: bounce;
	-moz-animation-name: bounce;
}
.select-page-builder {
	margin-left: 6em;
}

.select-page-builder img {
	max-width: 100%;
}

.select-page-builder .note-wrap {
	position: absolute;
	padding: 40px 0;
	margin-left: 170px;
	right: 0;
	left: 0;
}

.select-page-builder h3 {
	margin:  0;
	font-size: 2em;
}
.select-page-builder {
	margin: -20px 0 0 -5px;
	position: absolute;
}
.select-page-builder .note {
	margin-left: 1.5em;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
	-webkit-transform: translateY(-0px) rotate(90deg);
	-moz-transform: translateY(-0px) rotate(90deg);
	-ms-transform: translateY(-0px) rotate(90deg);
	transform: translateY(-0px) rotate(90deg);
  }
  40% {
	-webkit-transform: translateY(-2px) rotate(90deg);
	-moz-transform: translateY(-2px) rotate(90deg);
	-ms-transform: translateY(-2px) rotate(90deg);
	transform: translateY(-2px) rotate(90deg);
  }
  60% {
	-webkit-transform: translateY(-1px) rotate(90deg);
	-moz-transform: translateY(-1px) rotate(90deg);
	-ms-transform: translateY(-1px) rotate(90deg);
	transform: translateY(-1px) rotate(90deg);
  }
}

/**
 * Processing Animation
 */
.astra-demo-import.disabled {
	pointer-events: none;
}
.astra-demo-import.button.updating-message:before,
.astra-demo-import.button.installing:before {
	-webkit-animation: cssAnimation .72s ease infinite;
	-moz-animation: cssAnimation .72s ease infinite;
	-o-animation: cssAnimation .72s ease infinite;
	-ms-animation: cssAnimation .72s ease infinite;
	animation: cssAnimation .72s ease infinite;
}

@-webkit-keyframes cssAnimation {
	from {
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		-o-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);
	}
	to {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
 }
 @-moz-keyframes cssAnimation {
	from {
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		-o-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);
	}
	to {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
 }
 @-o-keyframes cssAnimation {
	from {
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		-o-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);
	}
	to {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

#astra-sites-filters,
#astra-pages-back-wrap {
	display: inline-block;
	width: 100%;
	margin-top: 20px;
}

#astra-pages-back-wrap {
	display: none;
}

#astra-pages-back-wrap .section-left {
	background: #fff;
	padding: 0 20px;
	box-shadow: 0 1px 0 rgba(0,0,0,.1);
	z-index: 8;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	height: 50px;
}

a.astra-pages-back {
	color: #555d66;
	text-decoration: none;
	font-size: 13px;
	font-weight: 500;
	position: relative;
	padding-left: 16px;
	padding-right: 6px;
}

a.astra-pages-back:before {
	content: "\f341";
	opacity: .7;
	margin-top: 1px;
	font-family: dashicons;
	position: absolute;
	left: 0;
}

.astra-site-down {
	padding: 1em 2em;
	margin-top: 1em;
}

#astra-sites-menu-page .menu {
    padding: 0;
}

.astra-sites-nav-items a:hover,
.astra-sites-nav-items a:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.astra-sites-nav-items a {
    background: #f1f1f1;
    color: #000;
    font-weight: normal;
    font-size: 1rem;
    text-decoration: none;
    padding: 25px 25px 25px 45px;
}

.astra-sites-nav-items a:before {
    content: "\f105";
}

/*#astra-sites-filters .search-form:after {
    content: "\f179";
}*/

#astra-sites-filters .search-form {
	font-weight: normal;
}

/*#astra-sites-filters .search-form:after,*/
.astra-sites-nav-items a:before {
    font-family: dashicons;
    display: inline-block;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    vertical-align: top;
    text-align: center;
    transition: color 0.1s ease-in;
    position: absolute;
    /*right: 15px;
    top: 20px;*/
    margin-left: -25px;
    font-weight: normal;
}

#astra-sites-menu-page .logo,
#astra-sites-menu-page .form {
	display: flex;
    align-items: center;
}

#astra-sites-menu-page .nav-tab-wrapper {
	border: none;
	display: flex;
	align-items: center;
	margin-left: -20px;
    margin-top: 0;
    background: #fff;
    padding: 10px 20px;
    justify-content: space-between;
}

#astra-sites-filters .wp-filter,
#astra-pages-back-wrap .wp-filter {
	margin-top: 0;
	display: flex;
	justify-content: space-between;
    box-shadow: none;
    border: none;
	margin-bottom: 50px;
 	background: transparent;
}

.is-favorite span i {
	color : #c34444;
}

/**
 * Welcome Screen
 */
.astra-sites-welcome {
	padding: 10em 0;
	text-align: center;
}
.astra-sites-welcome .inner {
	margin: 0 auto;
	display: inline-block;
	max-width: 700px;
	background: #fff;
	padding: 3em;
}

.astra-sites-welcome h1 {
	font-size: 2.5em;
	margin-bottom: 1em;
}

.astra-sites-welcome p {
	font-size: 1rem;
}

.astra-sites-welcome select {
	padding: 5px;
	height: 100%;
}

.astra-sites-welcome .submit {
	text-align: center;
	margin: 0;
	padding: 0;
	margin-left: .5em;
}

.astra-sites-welcome .disabled {
	pointer-events: none;
}

.astra-site-page-builder {
	opacity: 0;
	visibility: hidden;
}

.required-plugins-list,
.astra-sites-third-party-required-plugins {
	margin-left: 2em;
	margin-top: .5em;
	margin-bottom: .5em;
	list-style-type: disc;
}

.astra-sites-third-party-required-plugins .plugin-card,
.required-plugins-list .plugin-card {
	background: transparent;
	border: none;
	margin: 0;
	line-height: 2;
	float: none;
	width: 100%;
}

.required-plugins-list .spinner {
	float: none;
	margin: 0;
}

.astra-site-import-process-wrap {
    display: flex;
    align-items: center;
    margin-top: -2px;
    z-index: 999999;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
}

.astra-sites-result-preview .astra-site-import-process-wrap progress {
    background: #eeeeee;
}

.astra-sites-result-preview .astra-site-import-process-wrap progress::-webkit-progress-value {
    background: #0185ba;
}

.astra-site-import-process-wrap progress {
    padding: 0px;
    border: 0 none;
    background: #0085bd;
    border-radius: 5px;
    height: 4px;
    flex: 1;
}

.astra-sites-result-preview .dashicons {
    vertical-align: text-bottom;
}

.astra-site-import-process-wrap progress::-webkit-progress-value {
  background: #00679b;
}

.astra-site-import-process-wrap progress::-webkit-progress-bar {
    background: transparent;
}

.theme-browser .theme .site-preview > .theme-screenshot {
	transition: all linear 5s;
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
}
.theme-browser .theme .site-preview > .theme-screenshot:hover {
	background-position: center bottom;
	background-size: cover;
}

.astra-sites-tooltip-icon {
	cursor: pointer;
}

.astra-sites-preview .disabled {
	pointer-events: none;
}

.astra-sites-preview input[type="checkbox"].disabled {
	background: #eeeeee;
	opacity: 1;
	color: #fff;
	box-shadow: none;
	border-color: #b4b9be;
}

.astra-sites-tooltip-icon .dashicons {
	color: #757575;
	font-size: 15px;
	vertical-align: middle;
	height: auto;
}

.astra-sites-menu-page-wrapper .title-count,
.astra-sites-menu-page-wrapper .filter-count .count {
	display: flex;
	justify-content: center;
	align-items: center;
}

#astra-sites-welcome-form-inline {
	position: absolute;
	right: 19px;
	border-radius: 0;
	line-height: 1.7;
	padding: 0px 5px 2px 5px;
	outline: 2px solid transparent;
	outline-offset: 0;
	background: #ffffff;
	border: 1px solid #ccc;
	color: #72777c;
	font-weight: normal;
	font-size: 10px;
	font-size: 13px;
	line-height: 26px;
	height: 28px;
	cursor: pointer;
}

#astra-sites-welcome-form-inline select,
#astra-sites-welcome-form-inline select:focus {
	border: none;
	outline: none;
	box-shadow: none;
	color: #72777c;
}

#astra-sites-menu-page .wp-full-overlay-main:before {
	content: '';
	display: none;
}

.theme-screenshot-wrap {
	overflow: hidden;
	max-height: 300px;
	margin: 15px 0;
	border: 1px solid #ccc;
}

.astra-sites-preview .install-theme-info .theme-screenshot {
	width: 100%;
	border: none;
	margin: 0;
}

#astra-sites-welcome-form #submit {
	padding: 0em 4rem;
}

.page-builders li {
	cursor: pointer;
	display: inline-block;
	padding: 1em;
}

.page-builders [type=radio] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

.page-builders [type=radio] + img {
	cursor: pointer;
	opacity: .9;
	border: 3px solid transparent;
	border-radius: 10px;
	transition: all linear 0.2s;
}

.page-builders [type=radio]:hover + img,
.page-builders [type=radio]:checked + img {
	opacity: 1;
}

.astra-sites-page-builder-notice {
	text-align: center;
	margin: 1em 0 2em 0;
}

.current-importing-status-wrap {
	font-size: 1rem;
}

.current-importing-status-wrap hr {
	border-color: #f1f1f1;
}

.astra-sites-result-preview {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #fff;
	overflow-y: auto;
}

.astra-sites-result-preview .button {
    margin-top: 1em;
}

.astra-sites-result-preview .inner {
	margin: 0 auto;
	max-width: 700px;
	padding: 5em 0;
}

.astra-sites-result-preview h2 {
	font-size: 2rem;
}

.astra-sites-result-preview p {
	font-size: 1rem;
}

.current-importing-status {
	font-size: 1rem;
	background: #eeeeee;
	padding: 1em 1.5em;
	margin-bottom: 4em;
}

.current-importing-status-title {
	margin-bottom: .5em;
}

.appearance_page_astra-sites .rotating {
	height: auto;
	animation: rotation 2s infinite linear;
	width: auto;
	color: #c1c1c1;
}

.theme-browser .theme:nth-child(5n) {
	margin-right: 0;
}
.theme-browser .theme:nth-child(3n),
.theme-browser .theme:nth-child(4n) {
	margin-right: 25px;
}

.theme-browser .theme .theme-screenshot:after {
	padding-top: 130%;
}

@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(359deg);
	}
}
.import-time {
	display: inline-block;
	background: #0185ba;
	color: #fff;
	padding: 2px 10px;
	border-radius: 3px;
	animation: astra-scale 0.5s alternate infinite ease-in;
}

@keyframes astra-scale {
  0%   {transform: scale(1);}
  100% {transform: scale(1.03);}
}

.current-importing-status p {
	margin: 0;
}

@media (max-width: 1366px) {
	.theme-browser .theme {
		width: calc( 25% - 25px );
		margin: 0 25px 25px 0;
	}
	.theme-browser .theme:nth-child(4n) {
		margin-right: 0;
	}
	.theme-browser .theme:nth-child(even),
	.theme-browser .theme:nth-child(odd) {
		margin-right: 25px;
	}
	.theme-browser .theme:nth-child(5n),
	.theme-browser .theme:nth-child(4n) {
		margin-right: 25px;
	}

}

@media (min-width: 960px) and (max-width: 1020px) {
	#astra-sites-admin .theme-action-wrap {
		padding: 5px;
		width: 100%;
	}
}

@media (min-width: 781px) and (max-width: 920px) {
	#astra-sites-admin .theme-action-wrap {
		padding: 5px;
		width: 100%;
	}
	.theme-browser .theme .theme-actions button:first-child {
		margin-bottom: 5px;
	}
}

@media (max-width: 1120px) {
	.theme-browser .theme {
		width: calc( 33% - 25px );
		margin: 0 25px 25px 0;
	}
	.theme-browser .theme:nth-child(3n) {
		margin-right: 0;
	}
	.theme-browser .theme:nth-child(even),
	.theme-browser .theme:nth-child(odd) {
		margin-right: 25px;
	}
	.theme-browser .theme:nth-child(5n),
	.theme-browser .theme:nth-child(4n) {
		margin-right: 25px;
	}

}

@media (max-width: 767px) {
	.theme-browser .theme {
		width: calc( 50% - 25px );
		margin: 0 25px 25px 0;
	}
	.theme-browser .theme:nth-child(2n) {
		margin-right: 0;
	}
	.theme-browser .theme:nth-child(5n),
	.theme-browser .theme:nth-child(4n),
	.theme-browser .theme:nth-child(3n) {
		margin-right: 25px;
	}
}
